.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding-top: 15px;
}
ul {
    list-style-type: none;
 
}
li{
    text-decoration: none;
    margin: 5;
}

li>a{
    text-decoration: none;
    padding-left: 25px;
    margin-top: 50px;
}